html, body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    height: 100%;
}

.container2{
    display: flex;
    background-color: white;
}

.curriculo{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width: 300px;
    height: 100%;
}

.conteudo{
    display: flex;
    height: 100%;
}

.t1{
    flex: 1;
    background-color: rgb(255, 158, 46);
}

.t2{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.pic{
    width: 250px;
    height: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.sobre{
    width: 250px;
    height: 100%;
}

.borda{
    width: 100%;
    background-color: rgb(255, 158, 46);
    height: 50px;
}

.geral{
    width: 500px;
    height: 100%;
}