html, body {
    margin: 0;
}

p{
    font-family: Arial, Helvetica, sans-serif
}

img{
    width: 250px;
    height: 300px;
    border-radius: 100%;
}

.container {
    display: flex;
    height: 100%;
}

.container2{
    display: flex;
    background-color: white;
}

.curriculo{
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    width: 300px;
    height: 100%;
}

.conteudo{
    display: flex;
    height: 100%;
}

.t1{
    flex: 1;
    background-color: rgb(255, 158, 46);
}

.t2{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.pic{
    width: 250px;
    height: 300px;
}

.info{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    background-color: rgb(238, 238, 238);
}

.sobre{
    width: 250px;
    height: 100%;
    margin: 5px;

}

.borda{
    width: 100%;
    background-color: rgb(255, 158, 46);
    height: 30px;
}

.geral{
    width: 500px;
    height: 100%;
    margin-left: 5px;
}

.title{
    color: rgb(255, 158, 46);
    font-size: 20px;
    font-weight: bolder;
}

.titlep{
    color: rgb(255, 158, 46);
    font-size: 26px;
    font-weight: bolder;
}

.text{
    font-size: 11px;
    line-height: 15px;
    margin-right: 10px;
}

h1{
    color: rgb(255, 158, 46);
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.textp{
    font-size: 17px;
    font-weight: bolder;
}

.texto{
    font-size: 15px;
}
